Class_1 = [[('Janet',22)]],['Grace',40],['Wes',50]

1. Print out all value grades independently in each line

2. Print these sentences on different lines
- Janet had 22
- Grace had 40
- Wes had 50

In [ ]:
#State data set
Class_1 = [[('Janet',22)],['Grace',40],['Wes',50]]

In [ ]:
#No.1 print out all value grades independently in each line
for person in Class_1:
  if person[1:]:
    print(person[0])
    print(person[1])
  elif person[0]:
    print(person[0][0])
    print(person[0][1])

Janet
22
Grace
40
Wes
50

In [ ]:
#No.2 define tuple within the data set
Tuple = Class_1[0][0]
print(Tuple[1], Class_1[1][1],Class_1[2][1])

22 40 50

In [ ]:
#print out new variable
Class_Grade = [Tuple, Class_1[1], Class_1[2]]
Class_Grade

[('Janet', 22), ['Grace', 40], ['Wes', 50]]

In [ ]:
#print out requested phrases
for Grades in Class_Grade:
  print(Grades[0], 'had', Grades[1])

Janet had 22
Grace had 40
Wes had 50